<div class="background" style="background-image: url('assets/background.jpg')">

    <div class="buttons">
        <div class="button" (click)="toDesktop()">
            <span class="button__mask"></span>
            <span class="button__text">Desktop View</span>
            <span class="button__text button__text--bis">Desktop View</span>
        </div>
        <div class="gap"></div>
        <div class="button" (click)="toMobile()">
            <span class="button__mask"></span>
            <span class="button__text">Mobile View</span>
            <span class="button__text button__text--bis">Mobile View</span>
        </div>
        

    </div>
</div>