<!-- <router-outlet></router-outlet> -->
<ion-content class="background">
    <ion-card class="bus">
        <ion-card-header>Bus View</ion-card-header>
        <!-- <ion-button size="small" (click)="toDesktop()" >Desktop View</ion-button> -->
        <ion-card-content class="busArea" style="display: flex;">
            <ion-card class="bookingArea">
                <ion-card-content class="seatArea">
                    <ol class="cabin fuselage">
                        <ion-list class="row row--10">
                            <ol class="seats" type="A">
                                <ion-list class="seat">
                                    <img id="A37" title="A37" alt="seat" class="avail-seat"
                                        src="./assets/white-icon.png">
                                </ion-list>
                                <ion-list class="seat">
                                    <img id="A39" title="A38" alt="seat" class="avail-seat"
                                        src="./assets/white-icon.png">
                                </ion-list>
                                <ion-list class="seat">
                                    <img id="A39" title="A39" alt="seat" class="avail-seat"
                                        src="./assets/white-icon.png">
                                </ion-list>
                                <ion-list class="seat">
                                    <img id="A40" title="A40" alt="seat" class="avail-seat"
                                        src="./assets/white-icon.png">
                                </ion-list>
                                <ion-list class="seat">
                                    <img id="A41" title="A41" alt="seat" class="avail-seat"
                                        src="./assets/white-icon.png">
                                </ion-list>
                            </ol>
                        </ion-list>
                        <ion-list class="row row--9">
                            <ol class="seats" type="A">
                                <ion-list class="seat">
                                    <img id="A33" title="A33" alt="seat" class="avail-seat"
                                        src="./assets/white-icon.png">
                                </ion-list>
                                <ion-list class="seat">
                                    <img id="A34" title="A34" alt="seat" class="avail-seat"
                                        src="./assets/white-icon.png">
                                </ion-list>
                                <ion-list class="seat">
                                    <img id="A35" title="A35" alt="seat" class="avail-seat"
                                        src="./assets/white-icon.png">
                                </ion-list>
                                <ion-list class="seat">
                                    <img id="A36" title="A36" alt="seat" class="avail-seat"
                                        src="./assets/white-icon.png">
                                </ion-list>
                            </ol>
                        </ion-list>
                        <ion-list class="row row--8">
                            <ol class="seats" type="A">
                                <ion-list class="seat">
                                    <img id="A29" title="A29" alt="seat" class="avail-seat"
                                        src="./assets/white-icon.png">
                                </ion-list>
                                <ion-list class="seat">
                                    <img id="A30" title="A30" alt="seat" class="avail-seat"
                                        src="./assets/white-icon.png">
                                </ion-list>
                                <ion-list class="seat">
                                    <img id="A31" title="A31" alt="seat" class="avail-seat"
                                        src="./assets/white-icon.png">
                                </ion-list>
                                <ion-list class="seat">
                                    <img id="A32" title="A32" alt="seat" class="avail-seat"
                                        src="./assets/white-icon.png">
                                </ion-list>
                            </ol>
                        </ion-list>
                        <ion-list class="row row--7">
                            <ol class="seats" type="A">
                                <ion-list class="seat">
                                    <img id="A25" title="A25" alt="seat" class="avail-seat"
                                        src="./assets/white-icon.png">
                                </ion-list>
                                <ion-list class="seat">
                                    <img id="A26" title="A26" alt="seat" class="avail-seat"
                                        src="./assets/white-icon.png">
                                </ion-list>
                                <ion-list class="seat">
                                    <img id="A27" title="A27" alt="seat" class="avail-seat"
                                        src="./assets/white-icon.png">
                                </ion-list>
                                <ion-list class="seat">
                                    <img id="A28" title="A28" alt="seat" class="avail-seat"
                                        src="./assets/white-icon.png">
                                </ion-list>
                            </ol>
                        </ion-list>
                        <ion-list class="row row--6">
                            <ol class="seats" type="A">
                                <ion-list class="seat">
                                    <img id="A21" title="A21" alt="seat" class="avail-seat"
                                        src="./assets/white-icon.png">
                                </ion-list>
                                <ion-list class="seat">
                                    <img id="A22" title="A22" alt="seat" class="avail-seat"
                                        src="./assets/white-icon.png">
                                </ion-list>
                                <ion-list class="seat">
                                    <img id="A23" title="A23" alt="seat" class="avail-seat"
                                        src="./assets/white-icon.png">
                                </ion-list>
                                <ion-list class="seat">
                                    <img id="A24" title="A24" alt="seat" class="avail-seat"
                                        src="./assets/white-icon.png">
                                </ion-list>
                            </ol>
                        </ion-list>
                        <ion-list class="row row--5">
                            <ol class="seats" type="A">
                                <ion-list class="seat">
                                    <img id="A17" title="A17" alt="seat" class="avail-seat"
                                        src="./assets/white-icon.png">
                                </ion-list>
                                <ion-list class="seat">
                                    <img id="A18" title="A18" alt="seat" class="avail-seat"
                                        src="./assets/white-icon.png">
                                </ion-list>
                                <ion-list class="seat">
                                    <img id="A19" title="A19" alt="seat" class="avail-seat"
                                        src="./assets/white-icon.png">
                                </ion-list>
                                <ion-list class="seat">
                                    <img id="A20" title="A20" alt="seat" class="avail-seat"
                                        src="./assets/white-icon.png">
                                </ion-list>
                            </ol>
                        </ion-list>
                        <ion-list class="row row--4">
                            <ol class="seats" type="A">
                                <ion-list class="seat">
                                    <img id="A13" title="A13" alt="seat" class="avail-seat"
                                        src="./assets/white-icon.png">
                                </ion-list>
                                <ion-list class="seat">
                                    <img id="A14" title="A14" alt="seat" class="avail-seat"
                                        src="./assets/white-icon.png">
                                </ion-list>
                                <ion-list class="seat">
                                    <img id="A15" title="A15" alt="seat" class="avail-seat"
                                        src="./assets/white-icon.png">
                                </ion-list>
                                <ion-list class="seat">
                                    <img id="A16" title="A16" alt="seat" class="avail-seat"
                                        src="./assets/white-icon.png">
                                </ion-list>
                            </ol>
                        </ion-list>
                        <ion-list class="row row--3">
                            <ol class="seats" type="A">
                                <ion-list class="seat">
                                    <img id="A9" title="A9" alt="seat" class="avail-seat" src="./assets/white-icon.png">
                                </ion-list>
                                <ion-list class="seat">
                                    <img id="A10" title="A10" alt="seat" class="avail-seat"
                                        src="./assets/white-icon.png">
                                </ion-list>
                                <ion-list class="seat">
                                    <img id="A11" title="A11" alt="seat" class="avail-seat"
                                        src="./assets/white-icon.png">
                                </ion-list>
                                <ion-list class="seat">
                                    <img id="A12" title="A12" alt="seat" class="avail-seat"
                                        src="./assets/white-icon.png">
                                </ion-list>
                            </ol>
                        </ion-list>
                        <ion-list class="row row--2">
                            <ol class="seats" type="A">
                                <ion-list class="seat">
                                    <img id="A5" title="A5" alt="seat" class="avail-seat" src="./assets/white-icon.png">
                                </ion-list>
                                <ion-list class="seat">
                                    <img id="A6" title="A6" alt="seat" class="avail-seat" src="./assets/white-icon.png">
                                </ion-list>
                                <ion-list class="seat">
                                    <img id="A7" title="A7" alt="seat" class="avail-seat" src="./assets/white-icon.png">
                                </ion-list>
                                <ion-list class="seat">
                                    <img id="A8" title="A8" alt="seat" class="avail-seat" src="./assets/white-icon.png">
                                </ion-list>
                            </ol>
                        </ion-list>
                        <ion-list class="row row--1">
                            <ol class="seats" type="A">
                                <ion-list class="seat">
                                    <img id="A1" title="A1" alt="seat" class="avail-seat" src="./assets/white-icon.png">
                                </ion-list>
                                <ion-list class="seat">
                                    <img id="A2" title="A2" alt="seat" class="avail-seat" src="./assets/white-icon.png">
                                </ion-list>
                                <ion-list class="seat">
                                    <img id="A3" title="A3" alt="seat" class="avail-seat" src="./assets/white-icon.png">
                                </ion-list>
                                <ion-list class="seat">
                                    <img id="A4" title="A4" alt="seat" class="avail-seat" src="./assets/white-icon.png">
                                </ion-list>
                            </ol>
                        </ion-list>
                    </ol>
                    <div class="driver">
                        <img alt="driver" class="steering" src="./assets/steering-wheel.svg">
                    </div>
                </ion-card-content>
            </ion-card>
            <ion-card class="waitingArea">
                <div class="passengerLounge" *ngFor="let passenger of totalPassengersCopy;let i = index">
                    <ion-icon title="{{passenger.seat}}" alt="passenger" class="passenger" name="man-outline">
                    </ion-icon>
                </div>
            </ion-card>
        </ion-card-content>
    </ion-card>
</ion-content>